# Ignore logs directory
App/logs/

# Ignore settings.json in the config folder
App/config/settings.json

# Your virtual environment, which should be excluded from version control
venv/  

# Your virtual environment, which should be excluded from version control
myenv/  

# Optionally, you can add other folders or files to ignore
*.pyc  # Python cache files
*.pyo  # Python cache files
*.pyd  # Python cache files
__pycache__/  # Python cache files
