# Ignore logs directory
logs/

# Ignore settings.json in the config folder
settings.json

# Optionally, you can add other folders or files to ignore
myenv/  # Your virtual environment, which should be excluded from version control
__pycache__/  # Python cache files
